@model IEnumerable<Latest_Staff_Portal.ViewModel.ContractorPaymentRequests>
@{
    var title = ViewBag.title;
}

<style>
    #datatable-buttons th, #datatable-buttons td {
        white-space: nowrap; /* Prevent text from wrapping */
    }
</style>

<div class="text-center"><h4> Practical Completion And Certification List - @title</h4></div>
<div class="table-responsive">
    <table id="datatable-buttons" class="table dt-responsive nowrap"
           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color: #183424; color: white">

            <tr>
                <th>Action</th>
                <th>No</th>
                <th>Project No</th>
                <th>Project Name</th>
                <th>Contractor No</th>
                <th>Contractor Name</th>
                <th>Date of Submission</th>
                <th>Date of Receipt</th>
                <th>Status</th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="button" onclick="ViewDoc('@item.No');" style="background: #162f25; color: whitesmoke; border-radius: 10px; border: none; padding: 5px 10px; cursor: pointer;" value="Select" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contractor_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contractor_Name)
                    </td>
                    @* <td>
                            @Html.DisplayFor(modelItem => item.Document_Type)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_of_Submittion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_of_Receipt)
                    </td>
                    @*  <td>
                            @Html.DisplayFor(modelItem => item.Received_By)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100] // Same options for the second table
    });
</script>

