
@model IEnumerable<Latest_Staff_Portal.ViewModel.VariationProjectBoqs>

@{
    var DocNo = ViewBag.DocNo;

}
<div class="table-responsive">
    <table id="BoqLines" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
            <tr>
                <th>Project Code</th>
                <th>Entry No</th>
                <th>Line Type</th>
                <th>Section</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Unit Price</th>
                <th>Line Amount</th>
                <th>Remeasured Qty</th>
                <th>Remeasured Line Amount</th>
                <th>Remeasured Total Amount</th>
                <th>Variation Type</th>
                <th>Variation Amount</th>
                <th>Entry Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entry_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Line_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Line_Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remeasured_Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remeasured_Line_Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remeasured_Total_Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Variation_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Variation_Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entry_Type)
                    </td>
                    <td>
                      @*  <button class="btn btn-primary  btn-sm ml-3" style="background-color: #b8a603; border: none " onclick="EditItems('@item.Project_Code', @item.Entry_No);">Update</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="text-align: right">
  @*  <button style="background: #162f25; color: whitesmoke; border-radius: 10px" onclick="AddVariationProjectBOQLine(`@DocNo`);">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Record
    </button>*@
</div>

<script>
    var table = $("#BoqLines").DataTable({
        lengthChange: true,
        order: [[1, 'desc']],
        lengthMenu: [5, 10, 25, 50, 100],
        "bDestroy": true
    });


    function AddVariationProjectBOQLine(DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Contractor/NewVariationProjectBoqLine',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }

    function EditItem(Document_No, Entry_No) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ Document_No: Document_No, Entry_No: Entry_No }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Contractor/AssignAssistantDirectorsss',
            success: function (data) {
                $("#assignEmployeeModalBody").html(data);
                HideProgress();
                $("#assignEmployeeModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });

    }

</script>

