@model Latest_Staff_Portal.ViewModel.ProjectTeam

@{ 
    var member = ViewBag.MembersList;
}
<div class="row">


    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Team Member Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.DropDownList(
                    "Member", // Name attribute of the dropdown
                    new SelectList(ViewBag.MembersList, "Value", "Text"), // Convert ViewBag.MembersList to SelectList
                    "--Select Member--", // Placeholder text
                    new { @class = "form-control select2", @id = "Member" } // Additional attributes
                  )
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Expertise", htmlAttributes: new { @class = "control-label col-md-2" })
          
            <select class="form-control" id="Expertise" required>
                <option value="" @if (string.IsNullOrEmpty(Model.Expertise)) { <text> selected hidden</text> }>Select Option</option>
                <option value="0" @(Model.Expertise == "Architectural" ? "selected" : "")>Architectural</option>
                <option value="1" @(Model.Expertise == "Structural and Civil Engineering" ? "selected" : "")>Structural and Civil Engineering</option>
                <option value="2" @(Model.Expertise == "Mechanical Engineering" ? "selected" : "")>Mechanical Engineering</option>
                <option value="3" @(Model.Expertise == "Electrical Engineering" ? "selected" : "")>Electrical Engineering</option>
                <option value="4" @(Model.Expertise == "Quantity Surveying" ? "selected" : "")>Quantity Surveying</option>
            </select>


            @Html.ValidationMessageFor(model => model.Expertise, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Involvement Stage", htmlAttributes: new { @class = "control-label col-md-2" })
            <select class="form-control" name="Involvement_Stage" id="Involvement_Stage" required>
                <option value="" @if (string.IsNullOrEmpty(Model.Involvement_Stage)) { <text> selected hidden</text> }>Select Option</option>
                <option value="0" @(Model.Involvement_Stage == "Both" ? "selected" : "")>Both</option>
                <option value="1" @(Model.Involvement_Stage == "Preliminary" ? "selected" : "")>Preliminary</option>
                <option value="2" @(Model.Involvement_Stage == "Final" ? "selected" : "")>Final</option>
            </select>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#Member").select2({
            width: '100%'
        });

    });
</script>
